@mixin display($display, $justify_content, $align_itens, $flex_direction) {
    display: $display;
    justify-content: $justify_content;
    align-items: $align_itens;
    flex-direction: $flex_direction;
}

@mixin button($bg_color, $color) {
    cursor: pointer;
    height: 3rem;
    width: 25rem;
    text-transform: uppercase;
    background: $bg_color;
    color: $color;
    border: none;
    border-radius: .4rem;
}

@mixin title($height) {
    height: $height;
    display: flex;
    justify-content: center;
    align-items: center;
}