@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

// Cores
$very_light_grayish_blue: hsl(240, 78%, 98%);
$light_grayish_blue: hsl(234, 14%, 74%);
$grayish_blue: hsl(233, 13%, 49%);
$dark_grayish_blue: hsl(232, 13%, 33%);

$professional_card_bg_color: linear-gradient(to bottom  , hsl(236, 72%, 79%), hsl(237, 63%, 64%));
$professional_color_btn: hsl(237, 63%, 64%);

// Fonte
$font_family: 'Montserrat', sans-serif;
$font_size: 15px;

// Fundo do input checkbox
$linear_gradient: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));